body{
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;

}
.intro{
    background: url(../../../../Javascript/fullStack/static/img/cot.png);
    background-repeat: no-repeat;
    background-size: cover ;
    position: relative;
    background-position: 20% 12%;
    height: 500px;
    box-sizing: border-box;
    margin: 0;
        /* transform: translateZ(-20px); */

}
.intro::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    opacity: .4;
    background-color: antiquewhite;
    transform: translateZ(-21px);
}
.navbar{
    position: relative;
    top: 2em;
}
.nav-item{
    padding: 0;
    transition: all .4s;
}
.nav-item:hover{
        background-color: #20c997;
        border-radius: 10px;
    }
