body{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;

}
.intro{
    background: url(../svg/note2.png);
    background-repeat: no-repeat;
    background-size: 110% ;
    position: relative;
    background-position: 20% 12%;
    height: 500px;
    box-sizing: border-box;
    margin: 0;
        /* transform: translateZ(-20px); */

}
.intro::before{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    opacity: .4;
    background-color: antiquewhite;
    transform: translateZ(-21px);
}
.navbar{
    position: relative;
    top: 2em;
}
.nav-item{
    padding: 0;
    transition: all .4s ;
}
.nav-item:hover{
        background-color: #20c997;
        border-radius: 10px;
    }

    .drop{
     display: none;
    }

    @media(max-width:576px){
        .nav-item:nth-child(n+5){
            display: none;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.3s ease-out, transform 0.4s ease-out, ;
        }
        .navbar{
            max-width: 90%;
            
            
        }
        .navbar-expand{
            flex-direction: column;
        }
    .drop{
        display: block;
    }
    section{
        max-height: 400px;
    }
    }
    .display-vis{
        display: block !important;
        visibility:visible !important;
        transform: translateY(0) !important;
        opacity: 1 !important;
    }