<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel = "stylesheet" href="{{url_for('static',filename='css/hola.css')}}"> -->
    <link rel="stylesheet" href="../../../css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/hola.css">
    
</head>
<body>
    <section class="intro bg-green w-100">

            <nav class="justify-content-center gap-5 navbar-expand-lg navbar-expand-md bg-success rounded-4 p-2  container navbar">
                <ul class="navbar-nav gap-2 text-center fs-5 ">
                    <li class="nav-item active "><a href="" class="nav-link active">Home</a> <span></span></li>
                    <li class="nav-item"><a href="" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Past Events</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Rish</a></li>
                </ul></nav>
            
        <div class="container"></div>
    </section>
</body>
</html>