body {
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* grid-auto-rows: 200px 100%; */
    background-color: rgb(240, 240, 240);

    box-sizing: border-box;
    display: grid;
    gap: .8em;
    grid-template-columns: 1fr 4fr;

}

aside {
    display: grid;
    
    gap: .2em;
    grid-template-rows: repeat(3, 60px) auto;
    align-items: flex-start;
    justify-content: center;
    padding-inline: .6em;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 214, 214);
}

main {
    margin: 0;
    box-sizing: border-box;
}

.heading {
    height: 10px;
    padding: 0;
    text-align: center;

}

textarea {
    padding: 1em;
    height: 80%;
    width: 80%;
    resize: none;
    font-family: inherit;
    font-weight:500 ;
    overflow-wrap: unset;
    font-size: 1em;
}

img {
    display: inline;
    height: 12px;
}

input {}

input[type="text"i] {

    /* Targets the input */
    background-color: inherit;
    padding-block: .5em;
    padding-inline: 19px;
    border: 0px;
    outline: 0;
    /* Removes border */
    color: rgb(68, 68, 68);
    font-weight: 600;
    border-radius: inherit;

}

input[type="text"i]:focus {
    border: 0;

}

#search {
    border-radius: 10px;
    border: 2px solid rgb(121, 121, 121);
    background: rgb(199, 199, 199);
    padding-inline-start: .6em;
    display: flex;
    align-items: center;
}
 input[type = "text" ]:hover ~ #search    {
    border: 3px solid green;
}
form {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 100%;
    margin: 0;
    height: 100%;
}

button {
    
    background-color: rgb(255, 194, 25);
    outline: none;
    font-size: .92em;
    border-radius: 4px;
}
button:hover{
    cursor: pointer;
    
}
#save{
    position: relative;
      width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    color: aliceblue;
    scale: 2;
    background-color: rgb(255, 187, 0);
    transition: all 1s ease;

}
.new {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    color: aliceblue;
    scale: 2;
    background-color: rgb(255, 187, 0);
    transition: all 1s ease;
}
.new:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px  rgb(121, 88, 0);
}

#actionButton {
    padding-inline: 12px;
    box-sizing: border-box;
}
.sideText{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 93%;
    padding: .6em 4em .6em .6em;
    border-bottom: 3em transparent solid;
    box-sizing: border-box;
    height: 80px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow:0px 0px 3px 3px  rgb(179, 179, 179)  ;
    overflow-wrap: unset;
    background-color: rgb(252, 252, 252);
}